*{margin:0;padding:0}
.hidden{display:none}
.ui-resizable{position:relative}
.ui-resizable-handle{position:absolute;font-size:0.1px;z-index:99999;display:block}
.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}
body{font:normal normal 12px/1.4 Segoe,"Segoe UI",Arial,Sans-Serif;color:black;background-color:white;padding:50px}
input[type=button],input[type=text],input[type=submit],button,textarea{font:inherit;font-size:100%;line-height:normal;color:black;background-color:white;border:1px solid black;padding:2px 2px;margin:0 0;outline:none;vertical-align:baseline;*vertical-align:middle;*overflow:visible;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.btn,input[type=submit]{background-color:black;color:white;font-weight:bold;cursor:pointer}
.result-container{overflow:hidden}
.show-attribute-editor .result-container{overflow:visible}
.result-container form{background-color:skyblue;padding:10px 14px;text-align:left;font-size:150%;float:left}
.result-container form input{padding:5px 10px;text-transform:uppercase}
.result-container form .image-url{text-transform:none;width:250px;padding:5px 5px}
.result-container h2{margin:0 0 .4em;font-size:120%;font-weight:bold}
.result-container h2 a{color:inherit;text-decoration:none}
.control{margin:0 0 .5em}
.control label{cursor:pointer;position:relative;top:-2px;margin-right:10px}
.fake-image-map{}
.fake-image-map a{border:1px dashed #666;background-color:black;background-color:rgba(0,0,0,.7);cursor:move;text-decoration:none}
.fake-image-map a .editor{background-color:black;width:150px;height:auto;padding:2px 2px;position:absolute;bottom:100%;right:100%;margin-bottom:-30px;margin-right:-30px;z-index:99999}
.fake-image-map a .editor input{width:100%;display:block;margin:0 auto;font-size:86%}
.fake-image-map a:hover .editor{background-color:#00f}
.fake-image-map a:hover .editor input{border-color:#00f}
.show-attribute-editor .fake-image-map a .editor{display:block}
.fake-image-map .trash{display:block;position:absolute;top:0;right:0;line-height:normal;height:auto;padding:6px 12px;cursor:pointer;color:white;text-decoration:none;font-size:120%}
.fake-image-map .trash:hover{color:#ff0}
.source-code{width:300px;padding:5px;background-color:black;color:white;position:absolute;top:80px;right:80px}
.source-code span{display:block;cursor:move;margin-bottom:5px}
.source-code textarea{display:block;width:100%;height:150px;font-family:"Courier New",Courier,Monospace;border:none}